/* PHOTO PAGE */

.full-photo img {
   width: 100%;
}

/* SIMPLE PAGE */

// limit width for ease of reading
@include media-breakpoint-up(lg) {
  article.node--type-simple-page {
  max-width: 720px;}
}

//customize link color by section
article.node--type-simple-page.section-play a {
  color: $accent-dark;
}

article.node--type-simple-page.section-create a {
  color: $accent2-dark;
}
