/* Visual styles that can be used in many places*/

/* FANCY LINKS */

a.accent1, a.accent2, a.primary {
  position: relative;
  color: $body-color;
  font-weight: 600;
  background-size: 1em 1em;
  padding-right: 1.15em;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}


a.accent1::after, a.accent2::after, a.primary::after {
    content: '';
    position: absolute;
    top: -1.1em;
    left: -1.5em;
    width: 120%;
    height: 250%;
}

a.accent1:hover, a.accent2:hover, a.primary:hover {
  font-weight: 800;
  text-decoration: none;
}

a.accent1::before, a.accent2::before, a.primary::before {
    content: "";
    position: absolute;
    left: 70%;
    bottom: -0.2em;
    width: 5em;
    height: .5em;
    transform: skew(-30deg) translateX(-50%);
    transition: height 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
    z-index: -1;
}

a.primary:hover::before, a.accent1:hover::before, a.accent2:hover::before {
    height: 1.7em;
	width: 110%;
	left: 50%;
	border-radius: .5em;
	transform: skew(-30deg) translateX(-50%);
	transition-delay: 0.1s;
	transition-duration: 0.3s;
}

a.primary {
  background: url('/themes/custom/kira_sass/templates/arrow-teal.svg') right 55% no-repeat;
}

a.accent1 {
  background: url('/themes/custom/kira_sass/templates/arrow-brick.svg') right 55% no-repeat;
}

a.accent2 {
  background: url('/themes/custom/kira_sass/templates/arrow-orange.svg') right 55% no-repeat;
}

a.accent1::before {
    background: $accent-light;
}

a.accent2::before {
    background: $accent2-light;
}

a.primary::before {
    background: $primary-light;
}

