/* Visual styles that can be used in many places*/

/* FANCY LINKS */

a.accent1, a.accent2, a.primary {
  position: relative;
  color: $body-color;
  font-weight: 600;
  background-size: 1em 1em;
  padding-right: 1.15em;
  transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

a.accent1:hover, a.accent2:hover, a.primary:hover {
  font-weight: 800;
  text-decoration: none;
}

a.accent1::before, a.accent2::before, a.primary::before {
    content: "";
    position: absolute;
    left: 70%;
    bottom: -0.3em;
    width: 5em;
    height: .5em;
    transform: skew(-30deg) translateX(-50%);
    transition: height .2s cubic-bezier(0.33, 0.66, 0.66, 1), width .2s cubic-bezier(0.33, 0.66, 0.66, 1);
    z-index: -1;
}

a.primary:hover::before, a.accent1:hover::before, a.accent2:hover::before {
    height: 1.7em;
	width: 110%;
	left: 50%;
	border-radius: .5em;
	transform: skew(-30deg) translateX(-50%);
}

a.primary {
  background: url('/themes/custom/kira_sass/templates/arrow-teal.svg') right 55% no-repeat;
}

a.accent1 {
  background: url('/themes/custom/kira_sass/templates/arrow-brick.svg') right 55% no-repeat;
}

a.accent2 {
  background: url('/themes/custom/kira_sass/templates/arrow-orange.svg') right 55% no-repeat;
}

a.accent1::before {
    background: $accent-light;
}

a.accent2::before {
    background: $accent2-light;
}

a.primary::before {
    background: $primary-light;
}


/*
a.primary::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.07em;
  height: 0.1em;
  width: 100%;
  background: $primary-light;
  z-index: -1;
  transition: height .25s cubic-bezier(.6, 0, .4, 1);
}
*/

/* a.accent1:active, a.accent2:active, a.primary:active,
a.accent1:focus, a.accent2:focus, a.primary:focus,
a.accent1:hover, a.accent2:hover, a.primary:hover {
  color: $body-color;
  font-weight: 800;
}
*/
